.router-link {
    text-decoration: none;
    padding: 2rem;
    color : black
}

.router-link:hover{
    color:rgba(183,64,215,1);
}

.main-nav{
  user-select: none;
  font-size: 20px;
  font-weight: 700;

}

#icon {
    margin-top: 5px;
    max-height: 50px;
}

.logo {
    font-size: 40px;
    padding: 0;
    background: linear-gradient(63deg, rgba(73,146,148,1) 31%, rgba(183,64,215,1) 48%, rgba(78,125,143,1) 69%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    gap : 10px;
    max-height: 60px;
}

.active {
    color : rgba(183,64,215,1);
}

#login {
    margin-top: 0.5rem;
}

#login-button {
    border:solid 2px rgba(183,64,215,1);
    background-color: rgba(183,64,215,1);
    border-radius: 20px;
    color: white;
    padding: 1rem;
    user-select: all;
}

#login-button:hover{
    color:rgba(183,64,215,1);
    background-color: white;
}

.tab-nav:hover{
    border-bottom: solid 2px rgba(183,64,215,1);
}
