<!DOCTYPE html>
<html lang="en" id="top_of_site">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assess Student</title>
    <!--Rubik Font-->
    <link rel="icon" href="../high-five-logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="../high-five-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assessStudent.css">
    <script src="https://kit.fontawesome.com/47bef1fbb6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav">
        <div class="container">
            <div class="logo"><img src="../high-five-logo.png" class="highfive">HighFive</div>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <div class="links_direct">
                <a href="../index.html">HOME</a>
                <a href="" class="active">COURSES</a>
                <a href="">User name</a>
            </div>
        </div>
    </div>
    <div class="container-box">
      <div class="box">
        <div class="headerBody">Student Assessment</div>
        <div class="text">Student name:</div>
        <div class="frame1">
          <div class="text">Question 1:</div>
        </div>
        <div class="frame2">
          <form id="commentForm" method="POST" onsubmit="return validateForm()">
              <textarea id="commentInput" class="text-box" placeholder="Add comment here... (maximum 100 words)"></textarea>
              <div class="error-message" id="errorMessage"></div>
              <button type="submit" class="submit-button">
                  <div class="text" style="height:30px; font-size: 20px;">Submit</div>
              </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
          <div class="text" style="width: auto;">
              <p>&copy; Copyright © HighFiveEnglish 2023</p>
          </div>
      </div>
    </div>

          
  <script>
    function validateForm() {
      var commentInput = document.getElementById("commentInput").value;
      var trimmedComment = commentInput.trim();
  
      if (trimmedComment === "") {
        alert("Please enter a comment before submitting.");
        return false;
      } else if (trimmedComment.split(/\s+/).length > 100) {
        alert("Maximum 100 words allowed.");
        return false;
      }
      
      return true
    }
  </script>
</body>
</html>